.container {
    width:1088px;
    height: 774px;
    background-color: rgb(224, 205, 205);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
    
}
.insideContainer { 
    display:inline-block;
    width:260px;
    height:368px;
    padding:18px;
    background-color:salmon;
    margin-right:5px;   
}
.img_first { 
    width: 224px;
    height: 125px;
    border-radius: 8px;
}
.hContainer {
    width: 200px;
    height: 128px;
}
h1 { 
    font-size:20px;
    line-height:25px;
    margin-top:20px;
}
p{
    font-size:12px;
    line-height:22px;
    margin-top:45px
}